body {
    width: 100%;
    margin: 0%;
    padding: 0%;
    text-indent: 20px;
}

.cookies message::first-letter {
    font-size: 1.5em;
    font-weight: bold;
    background-color: lightgrey;
    color: black;
    position: fixed;
    text-align: center;
}

.navbar {
    position: relative;
    margin-bottom: 20px;
}

    .navbar ul {
        list-style-type: none;
        background-color: red;
        padding: 5px;
        margin: 0;
        overflow: hidden;
    }

    .navbar li {
        float: right;
        background-color: red;
    }

    .navbar a {
        font-size: 16px;
        color: white;
        font-weight: 500;
        text-decoration: none;
        margin-left: 20px;
        padding: 10px;
        letter-spacing: 1px;
        line-height: 1.5;
        word-spacing: 2px;
        transition: color 0.3s;
        border: 1px solid transparent;
    }

        .navbar a:hover {
            color: lightcoral;
        }

        .navbar a:visited {
            color: purple;
            border-color: purple;
            border-style: solid;
            border-width: 1px;
        }
        .navbar a:active {
            color: #0000FF;
          }

#HomePaginaFotoBovenin {
    max-width: 100%;
}

#homePaginaFotoLesbord {
    max-height: 60%;
    max-width: fit-content;
    padding-right: 100px;
}

#homePaginaFotoLandschap {
    max-height: fit-content;
    max-width: 30%;
    padding-left: 100px;
    float: right;
}

#homePaginaFotoDashboard {
    max-width: 30%;
    left: 20px;
}

#homePaginaFotoVooraanzicht {
    max-height: fit-content;
    max-width: 30%;
    padding-left: 100px;
    float: right;
}

#Pagina2FotoVooraanzicht,
#Pagina2FotoVooraanzichtMetArthur {
    max-width: 30%;
    align-items: center;
}

.white.backgrond {
    min-width: 100%;
    height: 480px;
    display: flex;
    align-items: center;
    background-color: white;
}

    .white.backgrond > img {
        margin-left: 100px;
        float: right;
    }

    .white.backgrond > section {
        margin-right: 10px;
        width: 500px;
    }

        .white.backgrond > section > a {
            background-color: red;
            color: white;
            padding: 10px;
            border-radius: 5px;
        }

.red.backgrond {
    min-width: 100%;
    height: 480px;
    display: flex;
    align-items: center;
    background-color: red;
}

    .red.backgrond > section {
        margin-right: 0%;
    }

    .red.backgrond > img {
        margin-left: 100px;
    }

    .red.backgrond > section {
        margin-left: 10px;
    }

        .red.backgrond > section > a {
            background-color: white;
            padding: 10px;
            border-radius: 5px;
        }

.button.red {
    background-color: red;
    color: white;
}

.button.white {
    background-color: white;
    color: red;
}

.icoon {
    max-width: 2%;
}
/* Media Query for screens with a maximum width of 600 pixels */
@media only screen and (max-width: 768px) {

    body {
        font-size: 14px; /* Adjust font size for smaller screens */
        text-indent: 10px; /* Adjust text-indent for smaller screens */

    }

    .navbar {
        margin-bottom: 10px; /* Adjust margin for smaller screens */
    }

    .navbar li {
        float: none; /* Change the float property for smaller screens */
        width: 100%; /* Set width to 100% for better responsiveness */
        text-align: center; /* Center the navigation items */
    }

    .navbar a {
        margin: 5px; /* Adjust margin for better spacing on smaller screens */
        font-size: 14px; /* Adjust font size for smaller screens */
        text-indent: 5px; /* Adjust text-indent for smaller screens */

    }

}
@media only screen and (min-width: 768px) 
{
    body {
        font-size: 14px; /* Adjust font size for smaller screens */
        text-indent: 10px; /* Adjust text-indent for smaller screens */

    }

    .navbar {
        margin-bottom: 10px; /* Adjust margin for smaller screens */
    }

    .navbar li {
        float: none; /* Change the float property for smaller screens */
        width: 100%; /* Set width to 100% for better responsiveness */
        text-align: center; /* Center the navigation items */
    }

    .navbar a {
        margin: 5px; /* Adjust margin for better spacing on smaller screens */
        font-size: 14px; /* Adjust font size for smaller screens */
        text-indent: 5px; /* Adjust text-indent for smaller screens */

    }
}

